{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="copyright" content="Legit Crew, https://www.devme.com/">
    <title>{% if obj.site_name %} {{obj.site_name}}  {% else %} {{site_name}} {% endif %} | {{title}}</title>
    <meta name="description" content="{{obj.description}}">
    <meta name="author" content="{{designer_name}}">
    <meta name="theme-color" content="{{obj.theme_color}}">
    <meta name="msapplication-navbutton-color" content="{{obj.theme_color}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{obj.theme_color}}">
    <meta name="keywords" content="{{obj.key_words}}">
    <meta property="og:site_name" content="{{obj.site_name}}">
    <meta property="og:url" content="{{obj.site_url}}">
    <meta http-equiv="Content-type" content="text/html;charset:utf-8">
    <meta property="og:type" content="website"> 
    <meta property="og:type" content="website"> 
    <meta property="twitter:site" content="https://twitter.com/Kevin36285655">
    <meta property="twitter:title" content="@Kevin36285655">
    <meta property="twitter:image" content="https://twitter.com/Kevin36285655/photo">
    <meta property="twitter:description" content="Life's Simple.">
    <meta property="twitter:text:title" content="Life's Simple.">
    <meta property="og:title" content="{{obj.site_name}} | {{title}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="{{obj.description}}">
    <meta property="og:image" content="{% static 'manager/assets/img/logos/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="{{obj.site_name}}">
    <meta name="application-name" content="{{obj.site_name}}">
    <meta name="msapplication-TileColor" content="{{obj.theme_color}}">
    <meta name="msapplication-config" content="{% static 'manager/assets/img/logos/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="{{request.get_full_path}}" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="shortcut icon" href="{% static 'manager/assets/img/logos/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#">
    <link rel="apple-touch-icon-precomposed" href="#">
    <link rel="mask-icon" href="{% static 'manager/assets/img/logos/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="manifest" href="{% static 'manager/assets/img/logos/site.html' %}">
    <link href="{% static 'manager/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'manager/assets/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'manager/assets/css/font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'manager/assets/css/swiper.min.css' %}" rel="stylesheet">
    <link href="{% static 'manager/assets/css/ion.rangeSlider.min.css' %}" rel="stylesheet">
    <link href="{% static 'manager/assets/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'manager/assets/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'manager/assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'manager/assets/css/responsive.css' %}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'manager/assets/css/custom.css' %}"> 
</head>
<body onload="load()">
    <!-- preloader -->
    <div class="placeholder">
        <div class="overlay">
            <div class="row">
                <div class="col-12">
                     <div class="loader-container">
                       <div class="loader">
                         <svg class="circular" viewBox="25 25 50 50">
                           <circle class="path" cx="50" cy="50" r="10" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                         </svg>
                       </div>
                     </div>
                </div>
            </div>
         </div>
     </div>
    <!-- //preloader -->
    <div class="main-display " style="display:none">
        <div class="header">
            <header class="full-width">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 mainNavCol">
                            <!-- logo -->
                            <div class="logo mainNavCol">
                                <a href="{% url 'dashboard' %}">
                                    <img src="{% static 'manager/assets/img/loader.gif' %}" data-src="{% static 'manager/assets/img/logo.png' %}" class="img-fluid" alt="{{obj.site_name}} Logo">
                                </a>
                            </div>
                            <!-- logo -->
                            <div class="main-search mainNavCol">
                                <form class="main-search search-form full-width">
                                    <div class="row">
                                        <!-- search -->
                                        <div class="col-lg-6 col-md-7 mx-auto">
                                            <div class="search-box padding-10">
                                                <input type="text" class="form-control" placeholder="Pizza, Burger, Chinese">
                                            </div>
                                        </div>
                                        <!-- search -->
                                    </div>
                                </form>
                            </div>
                            <div class="right-side fw-700 mainNavCol">
                                <div class="gem-points">
                                    <a href="#"> <i class="fas fa-concierge-bell"></i>
                                        <span>Order Now</span>
                                    </a>
                                </div>
                                
                                <!-- mobile search -->
                                <div class="mobile-search">
                                    <a href="#" data-toggle="modal" data-target="#search-box"> <i class="fas fa-search"></i>
                                    </a>
                                </div>
                                <!-- mobile search -->

                                <!-- user account -->
                                <div class="user-details p-relative">
                                    <a href="#" class="text-light-white fw-500">
                                        <img  data-src="{% static 'manager/assets/img/user-1.png' %}" class="rounded-circle" alt="userimg"> <span>Hi, John Doe</span>
                                    </a>
                                    <div class="user-dropdown">
                                        <ul>
                                            <li>
                                                <a href="order-details.html">
                                                    <div class="icon"><i class="flaticon-rewind"></i>
                                                    </div> <span class="details">Past Orders</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="order-details.html">
                                                    <div class="icon"><i class="flaticon-takeaway"></i>
                                                    </div> <span class="details">Upcoming Orders</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="icon"><i class="flaticon-breadbox"></i>
                                                    </div> <span class="details">Saved</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="icon"><i class="flaticon-gift"></i>
                                                    </div> <span class="details">Gift cards</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="icon"><i class="flaticon-refer"></i>
                                                    </div> <span class="details">Refer a friend</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="icon"><i class="flaticon-diamond"></i>
                                                    </div> <span class="details">Perks</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="icon"><i class="flaticon-user"></i>
                                                    </div> <span class="details">Account</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="icon"><i class="flaticon-board-games-with-roles"></i>
                                                    </div> <span class="details">Help</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="user-footer"> <span class="text-light-black">Not John Doe?</span> <a href="#">Sign Out</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- mobile search -->

                                <!-- user notification -->
                                <div class="cart-btn notification-btn">
                                    <a href="#" class="text-light-green fw-700"> <i class="fas fa-bell"></i>
                                        <span class="user-alert-notification"></span>
                                    </a>
                                    <div class="notification-dropdown">
                                        <div class="product-detail">
                                            <a href="#">
                                                <div class="img-box">
                                                    <img src="{% static 'manager/assets/img/loader.gif' %}" data-src="{% static 'manager/assets/img/shop-1.png' %}" class="rounded" alt="image">
                                                </div>
                                                <div class="product-about">
                                                    <p class="text-light-black">Lil Johnny’s</p>
                                                    <p class="text-light-white">Spicy Maxican Grill</p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="rating-box">
                                            <p class="text-light-black">How was your last order ?.</p> <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                            <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                            <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                            <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                            <span class="text-dark-white"><i class="fas fa-star"></i></span>
                                            <cite class="text-light-white">Ordered 2 days ago</cite>
                                        </div>
                                    </div>
                                </div>
                                <!-- user notification -->

                                <!-- user cart -->
                                <div class="cart-btn cart-dropdown">
                                    <a href="#" class="text-light-green fw-700"> <i class="fas fa-shopping-bag"></i>
                                        <span class="user-alert-cart">3</span>
                                    </a>
                                    <div class="cart-detail-box">
                                        <div class="card">
                                            <div class="card-header padding-15">Your Order</div>
                                            <div class="card-body no-padding">
                                                <div class="cat-product-box">
                                                    <div class="cat-product">
                                                        <div class="cat-name">
                                                            <a href="#">
                                                                <p class="text-light-green"><span class="text-dark-white">1</span> Chilli Chicken</p> <span class="text-light-white">small, chilli chicken</span>
                                                            </a>
                                                        </div>
                                                        <div class="delete-btn">
                                                            <a href="#" class="text-dark-white"> <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                        <div class="price"> 
                                                            <a href="#" class="text-dark-white fw-500">$2.25
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cat-product-box">
                                                    <div class="cat-product">
                                                        <div class="cat-name">
                                                            <a href="#">
                                                                <p class="text-light-green"><span class="text-dark-white">1</span> loaded cheese</p> <span class="text-light-white">small, chilli chicken</span>
                                                            </a>
                                                        </div>
                                                        <div class="delete-btn">
                                                            <a href="#" class="text-dark-white"> <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                        <div class="price"> 
                                                            <a href="#" class="text-dark-white fw-500">$2.25
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cat-product-box">
                                                    <div class="cat-product">
                                                        <div class="cat-name">
                                                            <a href="#">
                                                                <p class="text-light-green"><span class="text-dark-white">1</span> Tortia Chicken</p> <span class="text-light-white">small, chilli chicken</span>
                                                            </a>
                                                        </div>
                                                        <div class="delete-btn">
                                                            <a href="#" class="text-dark-white"> <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </div>
                                                        <div class="price"> 
                                                            <a href="#" class="text-dark-white fw-500">$2.25
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-total">
                                                    <div class="total-price border-0"> <span class="text-dark-white fw-700">Items subtotal:</span>
                                                        <span class="text-dark-white fw-700">$9.99</span>
                                                    </div>
                                                    <div class="empty-bag padding-15"> <a href="#">Empty bag</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer padding-15"> <a href="checkout.html" class="btn-first green-btn text-custom-white full-width fw-500">Proceed to Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- user cart -->
                            </div>
                        </div>
                        <div class="col-sm-12 mobile-search">
                            <div class="mobile-address">
                                <a href="#" class="delivery-add" data-toggle="modal" data-target="#address-box"> <span class="address">Brooklyn, NY</span>
                                </a>
                            </div>
                            <div class="sorting-addressbox"> <span class="full-address text-light-green">Brooklyn, NY 10041</span>
                                <div class="btns">
                                    <div class="filter-btn">
                                        <button type="button"><i class="fas fa-sliders-h text-light-green fs-18"></i>
                                        </button> 
                                        <span class="text-light-green">Sort</span>
                                    </div>
                                    <div class="filter-btn">
                                        <button type="button"><i class="fas fa-filter text-light-green fs-18"></i>
                                        </button> 
                                        <span class="text-light-green">Filter</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="main-sec"></div>
        {% block body %}
        {% endblock %}
        <!-- footer -->
        <div class="footer-top section-padding bg-black">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
                        <div class="icon-box"> <span class="text-light-green"><i class="flaticon-credit-card-1"></i></span>
                            <span class="text-custom-white">100% Payment<br>Secured</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
                        <div class="icon-box"> <span class="text-light-green"><i class="flaticon-wallet-1"></i></span>
                            <span class="text-custom-white">Support lots<br> of Payments</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
                        <div class="icon-box"> <span class="text-light-green"><i class="flaticon-help"></i></span>
                            <span class="text-custom-white">24 hours / 7 days<br>Support</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="icon-box"> <span class="text-light-green"><i class="flaticon-truck"></i></span>
                            <span class="text-custom-white">Free Delivery<br>with $50</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="icon-box"> <span class="text-light-green"><i class="flaticon-guarantee"></i></span>
                            <span class="text-custom-white">Best Price<br>Guaranteed</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="icon-box"> <span class="text-light-green"><i class="flaticon-app-file-symbol"></i></span>
                            <span class="text-custom-white">Mobile Apps<br>Ready</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <footer class="section-padding bg-light-theme pt-0 u-line bg-black">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                        <div class="footer-contact">
                            <h6 class="text-custom-white">Need Help</h6>
                            <ul>
                                <li class="fw-600"><span class="text-light-white">Call Us</span> <a href="tel:{{obj.phone}}" class="text-custom-white">{{obj.phone}}</a>
                                </li>
                                <li class="fw-600"><span class="text-light-white">Email Us</span> <a href="mailto:{{obj.email}}" class="text-custom-white">{{obj.email}}</a>
                                </li>
                                <li class="fw-600"><span class="text-light-white">Join our twitter</span> <a href="#" class="text-custom-white">@munchbox</a>
                                </li>
                                <li class="fw-600"><span class="text-light-white">Join our instagram</span> <a href="{{obj.instagram}}" class="text-custom-white">@munchbox</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                        <div class="footer-links">
                            <h6 class="text-custom-white">Get to Know Us</h6>
                            <ul>
                                <li><a href="#" class="text-light-white fw-600">About Us</a>
                                </li>
                                <li><a href="#" class="text-light-white fw-600">Blog</a>
                                </li>
                                <li><a href="#" class="text-light-white fw-600">Socialize</a>
                                </li>
                                <li><a href="#" class="text-light-white fw-600">Munchbox</a>
                                </li>
                                <li><a href="#" class="text-light-white fw-600">Perks</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                        <div class="footer-links">
                            <h6 class="text-custom-white">Let Us Help You</h6>
                            <ul>
                                <li><a href="#" class="text-light-white fw-600">Account Details</a>
                                </li>
                                <li><a href="#" class="text-light-white fw-600">Order History</a>
                                </li>
                                <li><a href="#" class="text-light-white fw-600">Find restaurant</a>
                                </li>
                                <li><a href="#" class="text-light-white fw-600">Login</a>
                                </li>
                                <li><a href="#" class="text-light-white fw-600">Track order</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                        <div class="footer-links">
                            <h6 class="text-custom-white">Doing Business</h6>
                            <ul>
                                <li><a href="#" class="text-light-white fw-600">Suggest an Idea</a>
                                </li>
                                <li><a href="#" class="text-light-white fw-600">Be a Partner restaurant</a>
                                </li>
                                <li><a href="#" class="text-light-white fw-600">Create an Account</a>
                                </li>
                                <li><a href="#" class="text-light-white fw-600">Help</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                        <div class="footer-contact">
                            <h6 class="text-custom-white">Newsletter</h6>
                            <form class="subscribe_form">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-submit" name="email" placeholder="Enter your email">
                                    <span class="input-group-btn">
                          <button class="btn btn-second btn-submit" type="button"><i class="fas fa-paper-plane"></i></button>
                     </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ft-social-media">
                            <h6 class="text-center text-light-black">Follow us</h6>
                            <ul>
                                <li> <a href="{{obj.facebook}}"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li> <a href="{{obj.twitter}}"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li> <a href="{{obj.instagram}}"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li> <a href="{{obj.pinterest}}"><i class="fab fa-pinterest-p"></i></a>
                                </li>
                                <li> <a href="{{obj.youtube}}"><i class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright bg-black">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="payment-logo mb-md-20"> <span class="text-light-white fs-14 mr-3">We are accept</span>
                            <div class="payemt-icon">
                                <img data-src="{%static 'manager/assets/img/card-front.jpg' %}" alt="#">
                                <img  data-src="{%static 'manager/assets/img/visa.jpg' %}" alt="#">
                                <img data-src="{%static 'manager/assets/img/amex-card-front.png' %}" alt="#">
                                <img  data-src="{%static 'manager/assets/img/mastercard.png' %}" alt="#">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center medewithlove align-self-center">
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="copyright-text text-light"> {% now 'Y' %} {{obj.site_name}},All Rights Reserved. Designed and coded by:<span class="text-light-white"><a target="_blank" href="{{designer_link}}">{{designer_name}}</a> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    </div>
    <script src="{% static 'manager/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/swiper.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'manager/assets/js/sticksy.js' %}"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDnd9JwZvXty-1gHZihMoFhJtCXmHfeRQg"></script>
    <script src="{% static 'manager/assets/js/munchbox.js' %}"></script>
    <script src="{% static 'manager/assets/js/custom.js' %}"></script>
</body>
</html>
